body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
}

body {
    background-color: #9D7CFF;
}
    .container {
        display: inline-block;
        width: 800px;
        height: 600px;
        background-color: #ffffff;
        margin-left: 60vh;
        margin-top: 15vh;
        border: 5px solid black;
    }
    header {
        display: inline-block;
        width: 100%;
        background-color: red;
        float: right;
        text-align: center;
        border-bottom: 3px solid gray;
    }
        .close {
            display: inline-block;
            float: left;
            background-color: gray;
            color: #ffffff;
            padding: 10px;
            font-size: 25px;
            margin-top: 3px;
            margin-left: 3px;
            border-radius: 40px;
        }
        .logo {
            display: inline-block;
            margin-top: 20px;
            background-color: yellow;
        }
            img {
                display: inline-block;
                margin-top: 5px;
            }
            h1 {
                display: inline-block;
                font-size: 40px;
            }
        p {
            display: inline-block;
            float: right;
            background-color: gray;
            padding: 6px;
            margin-top: 10px;
            border-radius: 20px;
           }
            .arrow {
                border: solid white;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 10px;
            }    
            .left {
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
            }
            .right {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
    .form {
        text-align: center;
        margin-top: 100px;
    }
        .facebook {
            display: inline-block;
            margin-left: 100px;
            margin-right: 100px;
            padding: 10px;
            background-color: red;
            border-radius: 25px;
            font-size: 20px;
        }
        .apple {
            display: inline-block;
            margin-left: 100px;
            margin-right: 100px;
            padding: 10px;
            background-color: red;
            border-radius: 25px;
            font-size: 20px;
        }
        .number {
            display: inline-block;
            margin-left: 100px;
            margin-right: 100px;
            padding: 10px;
            background-color: red;
            border-radius: 25px;
            font-size: 20px;
        }